main {
  padding: 20px;
}

.spacer {
  flex: 1 0 auto;
}

.app-title {
  padding-left: 10px;
}

.route-link {
  color: white;
  padding: 0 14px;
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }

  &__home {
    display: flex;
    align-items: center;
  }
}
